#mydiv {
  position: absolute;
  z-index: 9;
 
  text-align: left;
  border: 1px solid #d3d3d3;
    margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 50%;
  min-width: 550px;
  color: #cccc00;
  background: #333333;
  font-family:  Courier, monospace;
  overflow-x: hidden;
  resize: both;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background: #ccbbcc;
  color: #333333;
 
}


textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}
/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #00cccc;
  background-color: #00cccc;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateX(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 0.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #00cccc;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #cc00cc;
  content: "undesiredGuest@terminato:~$";
}
#liner.password::before {
  content: "Password:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #DCDCCC;
}
.color2 {
  color: #CC6666;
}
.command {
  color: #00cccc;
  text-shadow: 0 0 5px #00cccc; 
}
.error {
  color: #CC6666;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #CC9933;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #00cccc;
  color: #211830;
}
a:focus {
  outline: 0;
}

.iconaT{
  background-color: #cc00cc;
  margin-top: 20%;
  margin-left: 10%;
  transform: scale(2);
  animation: neon 1.5s infinite;
  outline: none; 
  
}
.iconaT:hover{
  transform: scale(5);
}

@keyframes neon {
  from {box-shadow: 0 0 15px #cc00cc;}
  to {box-shadow: 0 0 100px #cc00cc;}
}


.closeB{
  margin-left: auto;
}
